# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
mysqlData/
.project
.classpath
.settings/
firstservice/bin/
secondservice/bin/
thirdservice/bin/
